/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f8f9;
}

/* Navbar */
.navbar {
  background: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #004d40;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 40px;
  margin-right: 10px;
}

.site-name {
  font-weight: bold;
  font-size: 18px;
  color: #004d40;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.status-box {
  background: #f0fff4;
  padding: 5px 12px;
  border-radius: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

.copy-box {
  background: #28a745;
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: bold;
}

.icon {
  width: 16px;
  height: 16px;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 2rem;
  background: linear-gradient(90deg,  #002912 0%, #002912 20%, #035327 50%, #002912 80%, #002912 100%);
  color: white;
}

.hero h1{
  padding-bottom: 15px;  
}
.hero-logo {
  width: 80px;
  margin-bottom: 10px;
}

/* Main Section */
.main-section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding: 20px;
}

/* Card Section */
.card-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.service-logo {
  width: 24px; 
  height: 24px;
}

.heart {
  cursor: pointer;
  font-size: 18px;
}


.card h3 {
  font-size: 16px;
  font-weight: bold;
}

.card .sub {
  font-size: 13px;
  color: #555;
}

.card .number {
  font-size: 20px;
  margin: 5px 0;
  font-weight: bold;
}

.badge {
  display: inline-block;
  background: #e0e0e0;
  color: #333;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 12px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

button:first-child {
  background: #e0e0e0;
}

button:last-child {
  background: #2ecc71;
  color: white;
}

/* History Section */
.history {
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.clear-btn {
  background: #2ecc71;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.history ul {
  list-style: none;
}

.history ul li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

@media(max-width: 600px) {
  .main-section {
    grid-template-columns: 1fr;
  }
  .card-section {
    grid-template-columns: 1fr;
  }
}
